/*đăng nhập, kí*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("css/theme.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*body*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-main);
}
/*container*/
.container {
  inset: 4px;
  background: var(--bg-card);
  border-radius: var(--radius-md);
}

.box {
  position: relative;
  width: 380px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*gradient border*/
.box::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 390px;
  height: 410px;
  border-radius: 14px;
  background: var(--gradient-main);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*glow*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, var(--glow-pink),var(--glow-cyan));
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.box:hover::after {
  filter: blur(30px);
}

.box:hover::before {
  transform: rotate(90deg) scaleX(1.05) scaleY(.95);
}
/*inner box*/
.inner-box {
  position: absolute;
  inset: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background: var(--bg-glass);
  z-index: 1000;
  box-shadow: var(--shadow-inner);
  border-bottom: 2px solid var(--border-light);
  transition: 0.5s;
  color: var(--text-main);
  overflow: hidden;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  transition: 0.5s;
}
/*title*/
.form h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: var(--primary-pink);
}
/*input*/
.form input {
  width: 100%;
  padding: 8px 20px;
  outline: none;
  font-size: .9em;
  color: var(--text-main);
  background: var(--bg-input);
  border-radius: 12px;
}

.form input::placeholder {
  color: var(--text-muted);
}
/*button*/
.form input[type="submit"] {
  background: var(--gradient-main);
  border: none;
  font-weight: 500;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.5s;
}

.form input[type="submit"]:hover {
  box-shadow: 0 0 5px var(--primary-pink), 0 0 20px var(--hover-glow);
}
/*link*/
.btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.btns> {
  text-decoration: underline;
  color: rgb(0, 110, 255);
}

.btns a,
.btns span {
  font-size: 14px;
}

.btns span a {
  color: var(--primary-pink);
  font-weight: 600;
  margin-left: 3px;
  text-decoration: none;
}