@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("css/theme.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
  font-size: 46px;
  line-height: 64px;
  color: #222;
}

h3 {
  font-size: 30px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 12px;
  color: #465b52;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}


body {
  margin-left: 200px;
}

/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.search-box {
  display: flex;
  align-items: center;
  background: linear-gradient(
    -45deg,
    var(--primary-pink),
    var(--primary-blue));;
  border-radius: 30px;
  padding: 3px;
}

.search-box input{
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  width: 400px;
  border-radius: 30px 0 0 30px;
}

.search-box button {
  border: none;
  background: linear-gradient(
    -45deg,
    var(--primary-pink),
    var(--primary-blue));
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #40c9ff;
  transform: scale(1.1);
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #2d2d39;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
}

#navbar li {
  list-style: none;
  width: 100%;
  padding: 15px 30px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  display: block;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #e81cff;
}

#navbar li a.active::after,
#navbar li.a:hover::after {
  content: "";
  width: 30%;
  background: #bb09cf;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.logout {
  background: #e81cff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

.logout:hover {
  background: #e81cff;
  transform: scale(1.05);
  box-shadow: 0 0 10px #c22ad36e;
}

.logo {
  height: 60px;
  width: auto;
}

/* Danh mục */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box-1{
  width: 300px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  margin: 15px 0;
  background: linear-gradient(
    -45deg,
    var(--primary-pink), #40c9ff);
}

#feature .fe-box-1:hover {
  box-shadow: 20px 20px 34px rgba(70, 62, 223, 0.1);
}

#feature .fe-box-1 h6 {
  font-size: 30px;
  color: #fff;
}

/* Bài hát nổi bật */
#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 100px;
    padding: 10px 12px;
    border: 1px solid #e1d7e2;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
  background: linear-gradient(
    -45deg,
    var(--primary-pink),
    var(--primary-blue));
  transform: scale(1.05);
  box-shadow: 0 0 15px #e1d7e2;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: black;
    font-size: 12px;
}

#product1 .pro .des h5 {
    font-size: 20px;
}

#product1 h2 {
    color: #111111;
}

