<aside id="sidebar">

    <ul class="menu">

        <li>
            <a href="home.html">
                <i class="fa-solid fa-house"></i>
                <span>Trang chủ</span>
            </a>
        </li>

        <li>
            <a href="song.html">
                <i class="fa-solid fa-music"></i>
                <span>Bài hát</span>
            </a>
        </li>

        <li>
            <a href="album.html">
                <i class="fa-solid fa-compact-disc"></i>
                <span>Album</span>
            </a>
        </li>

        <li>
            <a href="artist.html">
                <i class="fa-solid fa-user"></i>
                <span>Nghệ sĩ</span>
            </a>
        </li>

        <li>
            <a href="playlist.html">
                <i class="fa-solid fa-list"></i>
                <span>Thư viện</span>
            </a>
        </li>

        <li>
            <a href="profile.html">
                <i class="fa-solid fa-id-card"></i>
                <span>Tài khoản</span>
            </a>
        </li>

    </ul>

</aside>
